html {
  font-size: 62.5%;
  margin-top: 0 !important; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: Helvetica, Arial, sans-serif; }

a {
  color: #24262a; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.5rem 0rem; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0px 0px 10px 0px;
  margin: 0rem 0rem 1rem 0rem; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  position: relative;
  text-indent: -99999px;
  display: inline-block;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

.error-message {
  color: #ce2833; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

@font-face {
  font-family: 'helveticaneuelt_stdbold';
  src: url("fonts/helveticaneueltstd-bd-webfont.eot");
  src: url("fonts/helveticaneueltstd-bd-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneueltstd-bd-webfont.woff") format("woff"), url("fonts/helveticaneueltstd-bd-webfont.ttf") format("truetype"), url("fonts/helveticaneueltstd-bd-webfont.svg#helveticaneuelt_stdbold") format("svg");
  font-weight: normal;
  font-style: normal; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  max-width: 1100px;
  max-width: 110rem;
  margin: 0 auto; }

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col_1 {
  width: 7.41666666667%; }

.col_2 {
  width: 15.8333333333%; }

.col_3 {
  width: 24.25%; }

.col_4 {
  width: 32.6666666667%; }

.col_5 {
  width: 41.0833333333%; }

.col_6 {
  width: 49.5%; }

.col_7 {
  width: 57.9166666667%; }

.col_8 {
  width: 66.3333333333%; }

.col_9 {
  width: 74.75%; }

.col_10 {
  width: 83.1666666667%; }

.col_11 {
  width: 91.5833333333%; }

.col_12 {
  width: 100%;
  margin-left: 0; }

@media only screen and (max-width: 939px) {
  .row {
    width: 100%; }

  .col_12 {
    width: 100% !important; }

  .col_6 {
    width: 50%;
    margin-left: 0; } }
/*@media only screen  and (max-width : 899px) {
  .col_4{
    width:100%;
    margin-left:0;
  }
}
@media only screen  and (max-width : 839px) {
  .col_3{
    width:100%;
    margin-left:0;
  }
}*/
#sidebar {
  padding: 0px 10px 20px 20px;
  padding: 0rem 1rem 2rem 2rem;
  width: 30%; }
  @media only screen and (max-width: 880px) {
    #sidebar {
      clear: both;
      float: left;
      width: 100%; }
      #sidebar div.split {
        width: 50%;
        float: left; } }
  @media only screen and (max-width: 480px) {
    #sidebar {
      padding-left: 10px;
      padding-left: 1rem; }
      #sidebar div.split {
        width: 100%; } }
  #sidebar ul.social-icons {
    margin-top: 20px;
    margin-top: 2rem;
    margin-bottom: 20px;
    margin-bottom: 2rem; }
  #sidebar h3 {
    font-size: 18px;
    font-size: 1.8rem;
    margin-top: 40px;
    margin-top: 4rem; }
  #sidebar h3:first-child {
    margin-top: 0; }

header {
  position: relative;
  margin-bottom: 30px;
  margin-bottom: 3rem;
  padding-top: 30px;
  padding-top: 3rem; }
  header {
    *zoom: 1; }
  header:before, header:after {
    content: "";
    display: table; }
  header:after {
    clear: both; }
  @media only screen and (max-width: 600px) {
    header {
      padding-top: 10px;
      padding-top: 1rem;
      border-bottom: 1px solid #ce2833; } }
  header h1 {
    margin-bottom: 10px;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 1100px) {
      header h1 {
        padding-left: 10px;
        padding-left: 1rem; } }
    header h1 a {
      display: block;
      font-family: "helveticaneuelt_stdbold", Helvetica, Arial, sans-serif;
      font-size: 32px;
      font-size: 3.2rem;
      position: relative;
      text-indent: -99999px;
      display: inline-block;
      background: url(images/cr-logo.png) no-repeat;
      text-decoration: none;
      width: 300px;
      width: 30rem;
      height: 122px;
      height: 12.2rem; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        header h1 a {
          background-image: url("images/cr-logo-hd.png");
          background-size: 300px 122px;
          background-size: 30rem 12.2rem; } }
      @media only screen and (max-width: 880px) {
        header h1 a {
          width: 200px;
          width: 20rem;
          height: 81px;
          height: 8.1rem;
          background-size: 200px 81px;
          background-size: 20rem 8.1rem; } }
      @media only screen and (max-width: 600px) {
        header h1 a {
          width: 100px;
          width: 10rem;
          height: 41px;
          height: 4.1rem;
          background-size: 100px 41px;
          background-size: 10rem 4.1rem; } }
  header a.main-content-link {
    position: relative;
    text-indent: -99999px;
    display: inline-block;
    position: absolute;
    top: 10px;
    top: 1rem;
    left: 180px;
    left: 18rem;
    text-decoration: none; }
  header a.main-content-link:focus {
    text-indent: 0;
    background: #710109;
    color: white;
    padding: 5px;
    padding: 0.5rem; }
  header form.search {
    position: absolute;
    right: 10px;
    right: 1rem;
    bottom: 80px;
    bottom: 8rem; }
    @media only screen and (max-width: 600px) {
      header form.search {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        text-align: center; }
        header form.search fieldset {
          border-top: 1px solid #ce2833;
          background: #24262a;
          padding: 10px;
          padding: 1rem;
          margin: 0 auto; } }
    header form.search legend {
      position: relative;
      text-indent: -99999px;
      display: inline-block;
      padding: 0;
      margin: 0; }
    header form.search label {
      position: relative;
      text-indent: -99999px;
      display: inline-block; }
    header form.search input {
      background: white;
      /* Old browsers */
      background: -moz-linear-gradient(top, white 0%, #efefef 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #efefef));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, white 0%, #efefef 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, white 0%, #efefef 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, white 0%, #efefef 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, white 0%, #efefef 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
      /* IE6-9 */
      border: 1px solid #cccccc;
      padding: 5px 10px;
      padding: 0.5rem 1rem;
      width: 160px;
      width: 16rem;
      color: #24262a; }
      @media only screen and (max-width: 600px) {
        header form.search input {
          width: 60%; } }
    header form.search button {
      position: relative;
      background: #ce2833;
      color: white;
      border: 1px solid #ce2833;
      padding: 5px 10px;
      padding: 0.5rem 1rem;
      margin: 0px 0px 0px -5px;
      margin: 0rem 0rem 0rem -0.5rem; }
    header form.search button:after {
      content: "";
      position: absolute;
      top: 4px;
      top: 0.4rem;
      left: -8px;
      left: -0.8rem;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-right: 8px solid #ce2833;
      border-bottom: 8px solid transparent;
      border-top: 0.8rem solid transparent;
      border-right: 0.8rem solid #ce2833;
      border-bottom: 0.8rem solid transparent; }
    header form.search button:hover, header form.search button:focus {
      background: #710109;
      border: 1px solid #710109; }
    header form.search button:hover:after, header form.search button:focus:after {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-right: 8px solid #710109;
      border-bottom: 8px solid transparent;
      border-top: 0.8rem solid transparent;
      border-right: 0.8rem solid #710109;
      border-bottom: 0.8rem solid transparent; }
  header nav#main-nav {
    clear: both;
    background: #ce2833;
    margin-bottom: 20px;
    margin-bottom: 2rem;
    font-size: 14px;
    font-size: 1.4rem; }
    @media only screen and (max-width: 600px) {
      header nav#main-nav {
        border-top: 1px solid #ce2833;
        display: none;
        margin-bottom: 0;
        background: #24262a; } }
    header nav#main-nav ul {
      margin: 0;
      padding: 10px 0px 10px 0px;
      padding: 1rem 0rem 1rem 0rem; }
      @media only screen and (max-width: 600px) {
        header nav#main-nav ul {
          padding: 0; } }
      header nav#main-nav ul li {
        display: inline;
        margin: 0; }
        header nav#main-nav ul li a {
          text-decoration: none;
          color: white;
          padding: 10px 20px;
          padding: 1rem 2rem;
          letter-spacing: 1.5px;
          letter-spacing: 0.15rem; }
          @media only screen and (max-width: 600px) {
            header nav#main-nav ul li a {
              display: block; } }
        header nav#main-nav ul li a:hover, header nav#main-nav ul li a:focus {
          background: #710109; }
  header nav#menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0; }
    @media only screen and (max-width: 600px) {
      header nav#menu {
        display: block; } }
    header nav#menu a {
      border-left: 1px solid #ce2833;
      padding: 48px 20px;
      padding: 4.8rem 2rem;
      height: 100px;
      height: 10rem; }
      header nav#menu a span {
        display: inline-block;
        position: relative;
        text-indent: -99999px;
        display: inline-block;
        position: relative;
        top: 20px;
        top: 2rem;
        background: url(images/menu-icons.png) no-repeat;
        width: 22px;
        width: 2.2rem;
        height: 22px;
        height: 2.2rem; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          header nav#menu a span {
            background-image: url("images/menu-icons-hd.png");
            background-size: 75px 43px;
            background-size: 7.5rem 4.3rem; } }
    header nav#menu a#search-link span {
      background-position: 0px -22px;
      background-position: 0rem -2.2rem; }
    header nav#menu a#menu-link span {
      background-position: 0 0; }

section.articles {
  float: left;
  width: 70%; }
  @media only screen and (max-width: 1100px) {
    section.articles {
      padding: 0px 10px;
      padding: 0rem 1rem; } }
  @media only screen and (max-width: 880px) {
    section.articles {
      width: 100%; } }
  @media only screen and (max-width: 600px) {
    section.articles {
      margin-top: 30px;
      margin-top: 3rem; } }
  section.articles h2 {
    margin-bottom: 20px;
    margin-bottom: 2rem; }
  section.articles article {
    clear: both;
    position: relative;
    padding: 0px 0px 20px 0px;
    padding: 0rem 0rem 2rem 0rem;
    margin: 0px 0px 20px 0px;
    margin: 0rem 0rem 2rem 0rem;
    border-bottom: 1px dotted #cccccc;
    line-height: 20px;
    line-height: 2rem; }
    @media only screen and (max-width: 480px) {
      section.articles article {
        padding: 0px 0px 60px 0px;
        padding: 0rem 0rem 6rem 0rem; } }
    section.articles article a.article-cat {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      margin: 5px 0px 0px 0px;
      margin: 0.5rem 0rem 0rem 0rem;
      padding: 5px 10px;
      padding: 0.5rem 1rem;
      background: #ce2833;
      color: white;
      font-weight: bold;
      text-decoration: none; }
      section.articles article a.article-cat span.cat-tri {
        border-top: 30px solid #ce2833;
        border-right: 30px solid transparent;
        position: absolute;
        top: 0;
        margin: 0px 0px 0px 10px;
        margin: 0rem 0rem 0rem 1rem; }
      @media only screen and (max-width: 600px) {
        section.articles article a.article-cat {
          display: none; } }
    section.articles article a.article-cat:hover, section.articles article a.article-cat:focus {
      background: #710109; }
      section.articles article a.article-cat:hover span.cat-tri, section.articles article a.article-cat:focus span.cat-tri {
        border-top: 30px solid #710109; }
    section.articles article img {
      min-height: 180px;
      min-height: 18rem;
      min-width: 180px;
      min-width: 18rem;
      width: 100%; }
      @media only screen and (max-width: 480px) {
        section.articles article img {
          display: none; } }
    section.articles article div.article-content {
      padding: 0px 20px 0px 30px;
      padding: 0rem 2rem 0rem 3rem;
      font-size: 14px;
      font-size: 1.4rem;
      width: 70%; }
      @media only screen and (max-width: 880px) {
        section.articles article div.article-content {
          width: 75%;
          padding: 0px 0px 0px 50px;
          padding: 0rem 0rem 0rem 5rem; } }
      @media only screen and (max-width: 480px) {
        section.articles article div.article-content {
          width: 100%;
          padding: 0; } }
      section.articles article div.article-content h2 {
        position: relative;
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 30px;
        line-height: 3rem; }
        @media only screen and (max-width: 480px) {
          section.articles article div.article-content h2 {
            font-size: 18px;
            font-size: 1.8rem;
            line-height: 28px;
            line-height: 2.8rem;
            margin-bottom: 10px;
            margin-bottom: 1rem; } }
        section.articles article div.article-content h2 a {
          color: black;
          text-decoration: none; }
        section.articles article div.article-content h2 a:hover, section.articles article div.article-content h2 a:focus {
          color: #710109; }
        section.articles article div.article-content h2 a.comments-num {
          position: absolute;
          top: -5px;
          top: -0.5rem;
          right: 0;
          font-size: 16px;
          font-size: 1.6rem;
          position: relative;
          background: #ce2833;
          padding: 4px 8px;
          padding: 0.4rem 0.8rem;
          margin: 0px 0px 0px 10px;
          margin: 0rem 0rem 0rem 1rem;
          color: white; }
        section.articles article div.article-content h2 a.comments-num:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-right: 5px solid #ce2833;
          border-bottom: 5px solid transparent;
          border-top: 0.5rem solid transparent;
          border-right: 0.5rem solid #ce2833;
          border-bottom: 0.5rem solid transparent;
          left: -5px;
          left: -0.5rem;
          top: 8px;
          top: 0.8rem; }
        section.articles article div.article-content h2 a.comments-num:hover, section.articles article div.article-content h2 a.comments-num:focus {
          background: #710109; }
        section.articles article div.article-content h2 a.comments-num:hover:after, section.articles article div.article-content h2 a.comments-num:focus:after {
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-right: 5px solid #710109;
          border-bottom: 5px solid transparent;
          border-top: 0.5rem solid transparent;
          border-right: 0.5rem solid #710109;
          border-bottom: 0.5rem solid transparent; }
      section.articles article div.article-content p.date {
        color: #cccccc;
        margin-bottom: 10px;
        margin-bottom: 1rem; }
        @media only screen and (max-width: 480px) {
          section.articles article div.article-content p.date {
            font-size: 10px;
            font-size: 1rem; } }
        section.articles article div.article-content p.date a {
          color: #cccccc; }
    section.articles article a.read-more {
      position: absolute;
      bottom: 15px;
      bottom: 1.5rem;
      right: 10px;
      right: 1rem;
      background: #ce2833;
      padding: 5px 10px;
      padding: 0.5rem 1rem;
      color: white;
      text-decoration: none; }
    section.articles article a.read-more:hover, section.articles article a.read-more:focus {
      background: #710109; }

form#email-signup label {
  position: relative;
  text-indent: -99999px;
  display: inline-block; }
form#email-signup input {
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #efefef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #efefef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #efefef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #efefef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #efefef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #efefef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #cccccc;
  padding: 5px 10px;
  padding: 0.5rem 1rem;
  width: 70%;
  color: #24262a; }
form#email-signup button {
  position: relative;
  background: #ce2833;
  color: white;
  border: 1px solid #ce2833;
  padding: 5px 10px;
  padding: 0.5rem 1rem;
  margin: 0px 0px 0px -5px;
  margin: 0rem 0rem 0rem -0.5rem; }
form#email-signup button:after {
  content: "";
  position: absolute;
  top: 4px;
  top: 0.4rem;
  left: -8px;
  left: -0.8rem;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 8px solid #ce2833;
  border-bottom: 8px solid transparent;
  border-top: 0.8rem solid transparent;
  border-right: 0.8rem solid #ce2833;
  border-bottom: 0.8rem solid transparent; }
form#email-signup button:hover, form#email-signup button:focus {
  background: #710109;
  border: 1px solid #710109; }
form#email-signup button:hover:after, form#email-signup button:focus:after {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 8px solid #710109;
  border-bottom: 8px solid transparent;
  border-top: 0.8rem solid transparent;
  border-right: 0.8rem solid #710109;
  border-bottom: 0.8rem solid transparent; }

ul.social-icons {
  margin: 10px 0px;
  margin: 1rem 0rem; }
  ul.social-icons li {
    display: inline;
    margin: 10px;
    margin: 1rem; }
    ul.social-icons li a {
      display: inline-block;
      background: #ce2833;
      padding: 13px;
      padding: 1.3rem;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px; }
      ul.social-icons li a span {
        background: url(images/social-icons.png) no-repeat;
        width: 30px;
        width: 3rem;
        height: 30px;
        height: 3rem;
        position: relative;
        text-indent: -99999px;
        display: inline-block; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          ul.social-icons li a span {
            background-image: url("images/social-icons-hd.png");
            background-size: 90px 60px;
            background-size: 9rem 6rem; } }
    ul.social-icons li a.twitter span {
      background-position: -61px 0px;
      background-position: -6.1rem 0rem; }
    ul.social-icons li a.facebook span {
      background-position: -32px 0px;
      background-position: -3.2rem 0rem; }
    ul.social-icons li a.rss span {
      background-position: 0px 0px;
      background-position: 0rem 0rem; }
    ul.social-icons li a:hover, ul.social-icons li a:focus {
      background: #710109; }

ul.recent-posts li {
  border-bottom: 1px solid #cccccc; }
  ul.recent-posts li a {
    display: block;
    padding: 10px;
    padding: 1rem;
    text-decoration: none;
    color: black; }
  ul.recent-posts li a:hover, ul.recent-posts li a:focus {
    background: #cccccc; }
ul.recent-posts li:first-child {
  border-top: 1px solid #cccccc; }

ul.paging {
  margin: 0px 0px 20px 0px;
  margin: 0rem 0rem 2rem 0rem;
  float: right; }
  ul.paging li {
    display: inline;
    margin: 0px 0px 0px 10px;
    margin: 0rem 0rem 0rem 1rem; }
    ul.paging li a {
      padding: 5px 10px;
      padding: 0.5rem 1rem;
      background: #ce2833;
      color: white;
      text-decoration: none; }
    ul.paging li a:hover, ul.paging li a:focus {
      background: #710109; }
  ul.paging li.current a {
    background: #710109;
    color: white; }

.single-article {
  float: left;
  width: 70%;
  padding-bottom: 20px;
  padding-bottom: 2rem;
  border-bottom: 1px dotted #cccccc; }
  .single-article {
    *zoom: 1; }
  .single-article:before, .single-article:after {
    content: "";
    display: table; }
  .single-article:after {
    clear: both; }
  @media only screen and (max-width: 1100px) {
    .single-article {
      padding: 0px 10px;
      padding: 0rem 1rem; } }
  @media only screen and (max-width: 880px) {
    .single-article {
      width: 100%;
      margin-bottom: 20px;
      margin-bottom: 2rem; } }
  .single-article p {
    margin-bottom: 20px;
    margin-bottom: 2rem; }
  .single-article h1 {
    font-family: "helveticaneuelt_stdbold", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-size: 2.8rem;
    margin: 10px 0px 20px 0px;
    margin: 1rem 0rem 2rem 0rem; }
  .single-article h2 {
    font-family: "helveticaneuelt_stdbold", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-size: 2.4rem;
    margin: 10px 0px 20px 0px;
    margin: 1rem 0rem 2rem 0rem; }
  .single-article h3 {
    font-family: "helveticaneuelt_stdbold", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-size: 2.2rem;
    margin: 20px 0px 20px 0px;
    margin: 2rem 0rem 2rem 0rem; }
  .single-article span.author-name {
    margin-top: 5px;
    margin-top: 0.5rem; }
    .single-article span.author-name a {
      color: #24262a;
      text-decoration: none;
      font-weight: bold; }
    .single-article span.author-name a:hover, .single-article span.author-name a:focus {
      color: #ce2833; }
  .single-article div.top-right p {
    font-family: "helveticaneuelt_stdbold", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-size: 1.4rem; }
  .single-article div.social-article {
    float: right; }
  .single-article ul.article-items {
    clear: both;
    margin: 30px 0px;
    margin: 3rem 0rem;
    list-style: none; }
    .single-article ul.article-items li {
      display: inline-block;
      margin: 0px 20px 0px 0px;
      margin: 0rem 2rem 0rem 0rem; }
      @media only screen and (max-width: 600px) {
        .single-article ul.article-items li {
          margin: 0px 10px 0px 0px;
          margin: 0rem 1rem 0rem 0rem; } }
      @media only screen and (max-width: 480px) {
        .single-article ul.article-items li {
          margin: 0px 5px 0px 0px;
          margin: 0rem 0.5rem 0rem 0rem; } }
      .single-article ul.article-items li a {
        text-decoration: none;
        color: #24262a; }
      .single-article ul.article-items li a:hover, .single-article ul.article-items li a:focus {
        color: #ce2833; }
      .single-article ul.article-items li span {
        background: url(images/icons.png) no-repeat;
        background-position: 0 0;
        display: block;
        width: 19px;
        width: 1.9rem;
        height: 18px;
        height: 1.8rem;
        margin: 0px 10px 0px 0px;
        margin: 0rem 1rem 0rem 0rem;
        float: left; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .single-article ul.article-items li span {
            background-image: url("images/icons-hd.png");
            background-size: 74px 37px;
            background-size: 7.4rem 3.7rem; } }
        @media only screen and (max-width: 480px) {
          .single-article ul.article-items li span {
            margin: 0px 5px 0px 0px;
            margin: 0rem 0.5rem 0rem 0rem; } }
    .single-article ul.article-items li.date span {
      background-position: -55px 0px;
      background-position: -5.5rem 0rem; }
    .single-article ul.article-items li.category span {
      background-position: -27px 0px;
      background-position: -2.7rem 0rem; }
    .single-article ul.article-items li.category a:hover span, .single-article ul.article-items li.category focus span {
      background-position: -27px -20px;
      background-position: -2.7rem -2rem; }
    .single-article ul.article-items li.comments span {
      background-position: 0px 0px;
      background-position: 0rem 0rem; }
    .single-article ul.article-items li.comments a:hover span, .single-article ul.article-items li.comments focus span {
      background-position: 0px -20.99px;
      background-position: 0rem -2.099rem; }
  .single-article div.content {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 2.2rem; }
    .single-article div.content h3 {
      margin: 30px 0px 0px 0px;
      margin: 3rem 0rem 0rem 0rem;
      padding: 0; }
    .single-article div.content img {
      padding: 5px;
      padding: 0.5rem;
      border: 1px solid #cccccc; }
      @media only screen and (max-width: 880px) {
        .single-article div.content img {
          max-width: 90%;
          height: auto; } }
    .single-article div.content ul, .single-article div.content ol {
      margin: 0px 0px 20px 20px;
      margin: 0rem 0rem 2rem 2rem; }
    .single-article div.content .alignleft {
      float: left;
      margin: 0px 10px 10px 0px;
      margin: 0rem 1rem 1rem 0rem; }
    .single-article div.content .alignright {
      float: right;
      margin: 0px 0px 10px 10px;
      margin: 0rem 0rem 1rem 1rem; }
    .single-article div.content pre, .single-article div.content .codecolorer-container {
      clear: both;
      border: 1px solid #efefef;
      padding: 10px;
      padding: 1rem;
      margin-top: 30px;
      margin-top: 3rem; }
    .single-article div.content .codecolorer-container {
      width: 100% !important;
      margin-bottom: 30px;
      margin-bottom: 3rem; }
    .single-article div.content a.button {
      color: white;
      background: #ce2833;
      text-decoration: none;
      margin: 5px 10px;
      margin: 0.5rem 1rem;
      padding: 10px;
      padding: 1rem; }
    .single-article div.content a.button:hover, .single-article div.content a.button:focus {
      background: #710109; }

div.author {
  border-top: 1px dotted #cccccc;
  border-bottom: 1px dotted #cccccc;
  padding: 20px 0px;
  padding: 2rem 0rem;
  margin: 20px 0px;
  margin: 2rem 0rem; }
  div.author div.left {
    float: left;
    width: 120px;
    width: 12rem;
    text-align: center; }
    div.author div.left p {
      padding: 0;
      margin: 2px 0px;
      margin: 0.2rem 0rem; }
    div.author div.left p.num-posts {
      font-weight: bold; }
    div.author div.left a {
      text-decoration: none;
      color: #24262a; }
    div.author div.left a:hover, div.author div.left a:focus {
      color: #ce2833; }
    div.author div.left img {
      width: 90px;
      width: 9rem;
      height: 90px;
      height: 9rem;
      -webkit-border-radius: 90px;
      -moz-border-radius: 90px;
      border-radius: 90px;
      padding: 5px;
      padding: 0.5rem;
      border: 1px solid #cccccc; }
  div.author div.right {
    float: left;
    margin: 10px;
    margin: 1rem;
    width: 80%;
    line-height: 16px;
    line-height: 1.6rem; }
    @media only screen and (max-width: 880px) {
      div.author div.right {
        width: 60%; } }
    @media only screen and (max-width: 480px) {
      div.author div.right {
        width: 50%; } }
    div.author div.right h3 {
      line-height: 22px;
      line-height: 2.2rem;
      margin: 0px 0px 10px 0px;
      margin: 0rem 0rem 1rem 0rem;
      padding: 0; }
      div.author div.right h3 a {
        color: #24262a;
        text-decoration: none; }
      div.author div.right h3 a:hover, div.author div.right h3 a:focus {
        color: #ce2833; }
    div.author div.right a {
      color: #24262a; }
    div.author div.right a:hover, div.author div.right a:focus {
      color: #ce2833;
      text-decoration: none; }

div#respond {
  margin: 10px;
  margin: 1rem; }
  div#respond h3 {
    margin: 0px 0px 10px 0px;
    margin: 0rem 0rem 1rem 0rem; }

@media only screen and (max-width: 880px) {
  form#commentform {
    width: 100%;
    margin-bottom: 30px;
    margin-bottom: 3rem; } }
form#commentform legend {
  position: relative;
  text-indent: -99999px;
  display: inline-block; }
form#commentform label {
  display: block;
  clear: both;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.5rem 0rem;
  font-weight: bold; }
form#commentform input {
  padding: 5px 10px;
  padding: 0.5rem 1rem;
  margin: 0px 0px 20px 0px;
  margin: 0rem 0rem 2rem 0rem;
  width: 100%;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #efefef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #efefef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #efefef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #efefef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #efefef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #efefef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #cccccc;
  color: #24262a; }
form#commentform textarea {
  padding: 5px 10px;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100px;
  height: 10rem;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #efefef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #efefef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #efefef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #efefef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #efefef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #efefef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #cccccc;
  color: #24262a; }
form#commentform button {
  width: 20%;
  padding: 10px;
  padding: 1rem;
  margin: 10px 0px 0px 0px;
  margin: 1rem 0rem 0rem 0rem;
  float: right;
  border: none;
  cursor: pointer;
  background: #ce2833;
  color: white; }
  @media only screen and (max-width: 880px) {
    form#commentform button {
      width: 40%; } }
form#commentform button:hover, form#commentform button:focus {
  background: #710109; }

ul.commentlist {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.commentlist li {
    padding: 10px;
    padding: 1rem;
    position: relative; }
    ul.commentlist li p {
      line-height: 18px;
      line-height: 1.8rem;
      width: 80%;
      margin: 10px 10px 10px 42px;
      margin: 1rem 1rem 1rem 4.2rem; }
    ul.commentlist li .comment-author cite.fn, ul.commentlist li .comment-author cite.fn a {
      font-weight: bold;
      text-decoration: none;
      color: #24262a; }
    ul.commentlist li .comment-author img {
      height: 32px;
      height: 3.2rem;
      width: 32px;
      width: 3.2rem;
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      border-radius: 32px;
      padding: 2px;
      padding: 0.2rem;
      margin: 0px 10px 0px 0px;
      margin: 0rem 1rem 0rem 0rem;
      border: 1px solid #cccccc;
      float: left; }
    ul.commentlist li .comment-author site {
      font-weight: bold; }
    ul.commentlist li .comment-meta a {
      text-decoration: none;
      color: #24262a; }
    ul.commentlist li .reply {
      position: absolute;
      font-weight: bold;
      right: 10px;
      right: 1rem;
      top: 10px;
      top: 1rem; }
      ul.commentlist li .reply a {
        text-decoration: none;
        color: #24262a; }
      ul.commentlist li .reply a:hover, ul.commentlist li .reply a:focus {
        color: #ce2833; }
  ul.commentlist li:nth-child(odd) {
    background: #efefef; }

form#contact-form {
  width: 50%; }
  @media only screen and (max-width: 880px) {
    form#contact-form {
      width: 100%;
      margin-bottom: 30px;
      margin-bottom: 3rem; } }
  form#contact-form legend {
    position: relative;
    text-indent: -99999px;
    display: inline-block; }
  form#contact-form label {
    display: block;
    clear: both;
    margin: 0px 0px 5px 0px;
    margin: 0rem 0rem 0.5rem 0rem;
    font-weight: bold; }
  form#contact-form input {
    padding: 5px 10px;
    padding: 0.5rem 1rem;
    margin: 0px 0px 20px 0px;
    margin: 0rem 0rem 2rem 0rem;
    width: 100%;
    background: white;
    /* Old browsers */
    background: -moz-linear-gradient(top, white 0%, #efefef 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #efefef));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #efefef 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, white 0%, #efefef 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, white 0%, #efefef 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, white 0%, #efefef 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #cccccc;
    color: #24262a; }
  form#contact-form textarea {
    padding: 5px 10px;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100px;
    height: 10rem;
    background: white;
    /* Old browsers */
    background: -moz-linear-gradient(top, white 0%, #efefef 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #efefef));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #efefef 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, white 0%, #efefef 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, white 0%, #efefef 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, white 0%, #efefef 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #cccccc;
    color: #24262a; }
  form#contact-form button {
    width: 20%;
    padding: 10px;
    padding: 1rem;
    margin: 10px 0px 0px 0px;
    margin: 1rem 0rem 0rem 0rem;
    float: right;
    border: none;
    cursor: pointer;
    background: #ce2833;
    color: white; }
    @media only screen and (max-width: 880px) {
      form#contact-form button {
        width: 40%; } }
  form#contact-form button:hover, form#contact-form button:focus {
    background: #710109; }

footer {
  clear: both;
  background: #24262a;
  width: 100%;
  height: 300px;
  height: 30rem;
  margin: 30px 0px 0px 0px;
  margin: 3rem 0rem 0rem 0rem;
  padding: 30px 0px 0px 0px;
  padding: 3rem 0rem 0rem 0rem;
  color: white; }
  @media only screen and (max-width: 880px) {
    footer {
      height: 440px;
      height: 44rem;
      padding: 20px 10px;
      padding: 2rem 1rem; } }
  footer .block {
    padding-right: 10px;
    padding-right: 1rem; }
    @media only screen and (max-width: 880px) {
      footer .block {
        width: 100%;
        float: left;
        margin-bottom: 20px;
        margin-bottom: 2rem; }
        footer .block ul.social-icons {
          display: none; } }
    footer .block h3 {
      font-size: 18px;
      font-size: 1.8rem;
      font-family: "helveticaneuelt_stdbold", Helvetica, Arial, sans-serif; }
    footer .block h4 {
      margin-left: 30px;
      margin-left: 3rem; }
      footer .block h4 a {
        display: block;
        position: relative;
        text-indent: -99999px;
        display: inline-block;
        background: url(images/cr-logo-footer.png) no-repeat;
        width: 150px;
        width: 15rem;
        height: 61px;
        height: 6.1rem; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          footer .block h4 a {
            background-image: url("images/cr-logo-footer-hd.png");
            background-size: 150px 61px;
            background-size: 15rem 6.1rem; } }
      @media only screen and (max-width: 880px) {
        footer .block h4 {
          margin-left: 0; } }
  footer ul.recent-posts li {
    border-bottom: 1px dotted white; }
    footer ul.recent-posts li a {
      color: white; }
    footer ul.recent-posts li a:hover, footer ul.recent-posts li a:focus {
      background: #ce2833; }
  footer ul.recent-posts li:first-child {
    border-top: 1px dotted white; }
  footer ul.social-icons a:hover, footer ul.social-icons a:focus {
    background: #ce2833; }
  footer ul.social-icons a.twitter:hover span, footer ul.social-icons a.twitter:focus span {
    background-position: -61px -35px;
    background-position: -6.1rem -3.5rem; }
  footer ul.social-icons a.facebook:hover span, footer ul.social-icons a.facebook:focus span {
    background-position: -32px -35px;
    background-position: -3.2rem -3.5rem; }
  footer ul.social-icons a.rss:hover span, footer ul.social-icons a.rss:focus span {
    background-position: 0px -35px;
    background-position: 0rem -3.5rem; }
