section.articles{
	float:left;
	width:70%;

	// Max Width Breakpoint
	@include breakpoint($maxWidth){
		@include rem("padding", 0, 10);
	}

	// Tablet Breakpoint
	@include breakpoint($tablet){
		width:100%;
	}

	// Breakpoint in-between
	@include breakpoint(600){
		@include rem("margin-top", 30);
	}

	h2{
		@include rem("margin-bottom", 20);
	}

	article{
		clear:both;
		position:relative;
		@include rem("padding", 0, 0, 20, 0);
		@include rem("margin", 0, 0, 20, 0);
		border-bottom:1px dotted $lightGrey;
		@include rem("line-height", 20);

		// Breakpoint mobile
		@include breakpoint($mobile){
			@include rem("padding", 0, 0, 60, 0);
		}

		img{
			display:none;
			
			// Breakpoint for Mobile
			@include min-breakpoint($mobile){
				min-height: 180px;
				min-width: 180px;
				width:100%;
				display: block;
			}
		}

		.article-content{
			@include rem("padding", 0, 20, 0, 30);
			@include rem("font-size", 14);
			width:70%;

			// Breakpoint for Tablet
			@include breakpoint($tablet){
				width:75%;
				@include rem("padding", 0, 0, 0, 50);
			}

			// Breakpoint for Mobile
			@include breakpoint($mobile){
				width:100%;
				padding:0;
			}

			h2{
				position:relative;
				@include rem("font-size", 24);
				@include rem("line-height", 30);

				// Breakpoint mobile
				@include breakpoint($mobile){
					@include rem("font-size", 18);
					@include rem("line-height", 28);
					@include rem("margin-bottom", 10);
				}

				a{
					color:black;
					text-decoration:none;

					&:hover, &:focus{
						color:$darkRed;
					}
				}
			}

			.date{
				color:$lightGrey;
				@include rem("margin-bottom", 10);

				// Breakpoint mobile
				@include breakpoint($mobile){
					@include rem("font-size", 10);
				}

				a{
					color:$lightGrey;
				}
			}
		}

		.read-more{
			position:absolute;
			@include rem("bottom", 15);
			@include rem("right", 10);
			background:$crRed;
			@include rem("padding", 5, 10);
			color:white;
			text-decoration:none;

			&:hover, &:focus{
				background:$darkRed;
			}
		}
	}
}