div#respond{
	@include rem("margin", 10);

	h3{
		@include rem("margin", 0, 0, 10, 0);
	}
}

form#commentform{
	@include breakpoint($tablet){
		width:100%;
		@include rem("margin-bottom", 30);
	}
	
	legend{
		@include hide-text();
	}
	label{
		display:block;
		clear:both;
		@include rem("margin", 0, 0, 5, 0);
		font-weight:bold;
	}
	input{
		@include rem("padding", 5, 10);
		@include rem("margin", 0, 0, 20, 0);
		width:100%;
		@include linearGradient(white, $reallyLightGrey);
		border:1px solid $lightGrey;
		color:$darkGrey;
	}
	textarea{
		@include rem("padding", 5, 10);
		width:100%;
		@include rem("height", 100);
		@include linearGradient(white, $reallyLightGrey);
		border:1px solid $lightGrey;
		color:$darkGrey;
	}

	button{
		width:20%;
		@include rem("padding", 10);
		@include rem("margin", 10, 0, 0, 0);
		float:right;
		border:none;
		cursor:pointer;
		background:$crRed;
		color:white;

		// Tablet Breakpoint
		@include breakpoint($tablet){
			width:40%;
		}
	}
	button:hover, button:focus{
		background:$darkRed;
	}
}
// Comment list
ul.commentlist{
	list-style:none;
	margin:0;
	padding:0;

	li{
		@include rem("padding", 10);
		position:relative;

		p{
			@include rem("line-height", 18);
			width:80%;
			@include rem("margin", 10, 10, 10, 42);
		}

		.comment-author{
			cite.fn, cite.fn a{
				font-weight:bold;
				text-decoration:none;
				color:$darkGrey;
			}
			img{
				@include rem("height", 32);
				@include rem("width", 32);
				@include roundedCorners(32);
				@include rem("padding", 2);
				@include rem("margin", 0, 10, 0, 0);
				border:1px solid $lightGrey;
				float:left;
			}
			site{
				font-weight:bold;
			}
		}

		.comment-meta{
			a{
				text-decoration:none;
				color:$darkGrey;
			}
		}
		.reply{
			position:absolute;
			font-weight:bold;
			@include rem("right", 10);
			@include rem("top", 10);

			a{
				text-decoration:none;
				color:$darkGrey;
			}
			a:hover, a:focus{
				color:$crRed;
			}
		}
	}
	li:nth-child(odd) {
	   background: $reallyLightGrey;
	}
}
