.recent-posts{
	li{
		border-bottom:1px solid $lightGrey;

		a{
			display:block;
			@include rem("padding", 10);
			text-decoration:none;
			color:black;

			&:hover, &:focus{
				background:$lightGrey;
			}
		}
	}
	li:first-child{
		border-top:1px solid $lightGrey;
	}
}